body {
    background-color: silver;
}

h1 {
<<<<<<< HEAD
    font-family: courier;
    color: orange;
    text-align: center;
}
td, th {
    font-family: monospace;
    font-size: 30px;
    color: white;
}
p {
    font-family: times;
=======
    font-family: Courier New;
    color: white;
    text-align: center;
}
td, th {
    font-family: cursive;
    font-size: 50px;
    color: Teal;
}
p {
    font-family: Courier;
>>>>>>> a11f0b7f15e48d2c730c50aa0f7791560884d3f5
    font-size: 50px;
}